USE [DBCatalogo]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[DescCategoria] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[NomProducto] [varchar](120) NOT NULL,
	[MarcaProducto] [varchar](120) NOT NULL,
	[ModeloProducto] [varchar](120) NOT NULL,
	[LineaProducto] [varchar](120) NOT NULL,
	[GarantiaProducto] [varchar](50) NULL,
	[Precio] [decimal](18, 2) NULL,
	[Imagen] [image] NULL,
	[DescripcionTecnica] [text] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[DesRol] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[IdProducto] [int] NOT NULL,
	[StockItems] [int] NOT NULL,
	[PuntoRepo] [int] NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[CodUsuario] [varchar](50) NOT NULL,
	[Clave] [binary](50) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[IdRol] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [DescCategoria]) VALUES (1, N'Generadores')
INSERT [dbo].[Categoria] ([IdCategoria], [DescCategoria]) VALUES (2, N'Descargadores')
INSERT [dbo].[Categoria] ([IdCategoria], [DescCategoria]) VALUES (3, N'Transformadotres')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [NomProducto], [MarcaProducto], [ModeloProducto], [LineaProducto], [GarantiaProducto], [Precio], [Imagen], [DescripcionTecnica]) VALUES (3, 1, N'IE3 MOTORS', N'ABB -Motores', N'Motor IE3', N'Motor a Explosion', N'6 Años', CAST(20000.00 AS Decimal(18, 2)), NULL, N'ABB, the leading power and automation technology group, is expanding its range of low voltage cast iron IE3 motors for explosive atmospheres with the introduction of new mid-range products')
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [DesRol]) VALUES (1, N'Supervisor Grupo 01')
INSERT [dbo].[Rol] ([IdRol], [DesRol]) VALUES (2, N'Vendedor Grupo 01')
INSERT [dbo].[Rol] ([IdRol], [DesRol]) VALUES (3, N'Supervisor Grupo 02')
SET IDENTITY_INSERT [dbo].[Rol] OFF
INSERT [dbo].[Stock] ([IdProducto], [StockItems], [PuntoRepo], [PrecioVenta]) VALUES (1, 50, 10, CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[Stock] ([IdProducto], [StockItems], [PuntoRepo], [PrecioVenta]) VALUES (2, 80, 20, CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[Stock] ([IdProducto], [StockItems], [PuntoRepo], [PrecioVenta]) VALUES (3, 100, 20, CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [CodUsuario], [Clave], [Nombres], [IdRol]) VALUES (1, N'despinoza', 0x7A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, N'Espinoza Robles Armando', 1)
INSERT [dbo].[Usuario] ([IdUsuario], [CodUsuario], [Clave], [Nombres], [IdRol]) VALUES (3, N'ggutierrez', 0x7A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, N'gladys gutierrez', 3)
INSERT [dbo].[Usuario] ([IdUsuario], [CodUsuario], [Clave], [Nombres], [IdRol]) VALUES (4, N'jayquipa', 0x7A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, N'julia Ayquipa', 2)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Producto]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol1] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol1]
GO
/****** Object:  StoredProcedure [dbo].[ListarRol]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ListarRol]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IdRol, DesRol from Rol 
END


GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ListarUsuarios] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IdUsuario, CodUsuario, Clave, Nombres, u.IdRol, r.DesRol from Usuario u, Rol r
	where u.IdRol = r.IdRol
END


GO
/****** Object:  StoredProcedure [dbo].[paListarProductos]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[paListarProductos] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdProducto], p.[IdCategoria],[DescCategoria],[NomProducto] , [MarcaProducto],
	[ModeloProducto],[LineaProducto],[GarantiaProducto],[Precio],[Imagen],[DescripcionTecnica]
	from Producto p, Categoria c
	where p.IdCategoria = c.IdCategoria
END



GO
/****** Object:  StoredProcedure [dbo].[paUsuario_BuscaCodUserClave]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[paUsuario_BuscaCodUserClave] 
	-- Add the parameters for the stored procedure here
	@ParamPass binary,
	@ParamUsuario varchar(40)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IdUsuario,CodUsuario,Nombres From Usuario
	Where CodUsuario = @ParamUsuario and Clave = @ParamPass
END


GO
/****** Object:  StoredProcedure [dbo].[paUsuario_BuscaUserId]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[paUsuario_BuscaUserId] 
	-- Add the parameters for the stored procedure here
	@ParamUsuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IdUsuario,CodUsuario,Nombres,u.IdRol,DesRol From Usuario u, Rol r
	Where u.IdRol= r.IdRol and  IdUsuario = @ParamUsuario 
END


GO
/****** Object:  StoredProcedure [dbo].[paUsuario_insertar]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[paUsuario_insertar]
	@Clave binary,
	@CodUsuario varchar(50), 
	@Nombres varchar(50),
	@IdRol int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into Usuario (CodUsuario, Clave,Nombres,IdRol)
	Values (@CodUsuario, @Clave, @Nombres,@IdRol)
END


GO
/****** Object:  StoredProcedure [dbo].[paUsuario_Modificar]    Script Date: 03/06/2020 10:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[paUsuario_Modificar]
	-- Add the parameters for the stored procedure here
	@IdUsuario int,
	@CodUsuario Varchar(50) ,
	@Clave binary, 
	@Nombres Varchar(80),
	@IdRol int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Usuario
	set
		CodUsuario=@CodUsuario,
		Clave = @Clave,
		Nombres=@Nombres,
		IdRol =@IdRol
	Where IdUsuario =@IdUsuario
END


GO
